<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout.html}">


<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/new_board.css}"/>
</th:block>
<div layout:fragment="content" class="new_board">
<div class="form_wrapper">
    <h2 th:if="${board}==notice" class="head_title">공지사항 작성페이지</h2>
    <form th:if="${board}==notice" action="/admin/notificationBoard/new" method="post">
        <div class="form_data">제목 <input type="text" name="title" id="title"></div>
        <div class="form_data content">내용 <input type="text" name="content" id="content"></div>
        <div class="form_data image" th:if="false">이미지 업로드 <input type="file" name="itemImgFile"></div>
        <input type="submit" value="등록하기"/>
    </form>
    <h2 th:if="${board}==nomal" class="head_title">게시글 작성하기</h2>
    <form th:if="${board}==nomal" action="/board/new" method="post" enctype="multipart/form-data">
        <div class="form_data">제목 <input type="text" name="title" id="title"></div>
        <div class="form_data content">내용 <input type="text" name="content" id="content"></div>
        <div class="form_data image" th:if="false">이미지 업로드 <input type="file" name="itemImgFile"></div>
        <input type="submit" value="등록하기"/>
    </form>
</div>

</div>
</html>