    <!DOCTYPE html>

    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{layouts/baseLayout.html}">


    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/new_board.css}"/>
    </th:block>
    <div layout:fragment="content" class="normal_board">
        <div class="form_wrapper">
            <h2 th:if="${board}==normal" class="head_title">게시글 작성하기</h2>
            <form th:if="${board}==normal" action="/board/write" method="post" enctype="multipart/form-data" th:object="${normalFormDto}">
                <div class="form_data">제목 <input type="text" id="title" th:field="*{title}"></div>
                <div class="form_data content">내용 <input type="text" name="content" id="content" th:field="*{content}"></div>
                <div class="form_data">
                    <div class="form_data">
                        이미지 업로드 <input type="file" name="image" id="image" accept="image/*">
                    </div>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="submit" value="등록하기"/>
            </form>
            <h2 th:if="${board}==update" class="head_title">게시글 수정하기</h2>
            <form th:if="${board}==update"  th:action="@{'/board/update/' + ${normalFormDto.normalId}}" method="post" enctype="multipart/form-data" th:object="${normalFormDto}">
                <div class="form_data">제목 <input type="text" id="title" th:field="*{title}" th:value="${normalFormDto.getTitle()}"></div>
                <div class="form_data content">내용 <input type="text" name="content" id="content" th:field="*{content}"th:value="${normalFormDto.getContent()}"></div>
                <!-- 이미지 업로드 부분: 필요하면 여기에 추가 -->
                <div class="form_data">
                    이미지 업로드 <input type="file" name="image" id="image" accept="image/*">
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="submit" value="등록하기"/>
            </form>
        </div>

    </div>
    </html>