<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/baseLayout}">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <title>myPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}"/>
</head>

<body>
<div layout:fragment="content">
    <form th:action="@{/members/mypage}" method="post" th:object="${myPage}">
    <div class="mypage_container">

        <h1 class="title">마이페이지</h1>
        <div class="info_wrapper">
            <div class="my_info_wrapper">
                <div class="my_info">
                    <p class="text_css">이름</p>
                    <input type="text" class="form-control" th:field="*{name}" />
                </div>
                <div class="my_info">
                    <div class="text_css">e-mail</div>
                    <input type="text" class="form-control"  th:value="${myPage.email}" th:readonly="readonly" />
                </div>

                <div class="my_info">
                    <div class="text_css">비밀번호 변경</div>
                    <input type="password"  class="form-control" id="update_pw" name="update_pw"/>
                </div>
                <div class="my_info">
                    <div class="text_css">비밀번호 확인</div>
                    <input type="password" class="form-control"  id="update_pw_confirm"/>
                </div>
                <div class="my_info">
                    <p class="text_css">가입일</p>
                    <input type="text" class="form-control" th:field="*{reg_time}" th:readonly="readonly" />
                </div>
                <button type="submit" class="btn btn-primary" onclick="return confirm('수정하시겠습니까?')">수정하기</button>
            </div>
        </div>
        </div>
        <div class="my_review" sec:authorize="hasRole('USER') or hasRole('ADMIN')">
            <h5 style="margin-left: 10px;">리뷰 게시글</h5>
            <div class="classification_head">
                <span class="review_number">순번</span>
                <span class="review_title">제목</span>
                <span class="review_day">작성일</span>
            </div>
            <div class="classification_data">
                <span class="review_number">1</span>
                <a href="#" class="review_title">더미입니다.</a>
                <span class="review_day">2023.01.01</span>
                <div class="ud_btn">
                    <a href="#">수정</a>
                    <a href="#">삭제</a>
                </div>
            </div>
        </div>
        <div class="my_review" sec:authorize="hasRole('ADMIN')">
            <h5 style="margin-left: 10px;">공지사항</h5>
            <div class="classification_head">
                <span class="review_number">ID</span>
                <span class="review_title">제목</span>
                <span class="review_day">작성일</span>
            </div>
            <div class="classification_data" th:each="dto : ${notificationFormDtos}">
                <span class="review_number"  th:text="${dto.notificationId}">1</span>
                <a th:href="@{/notificationBoard/__${dto.notificationId}__}" class="review_title" th:text="${dto.title}">제목입니다.</a>
                <span class="review_day" th:text="${dto.getFormattedRegTime()}">2023.01.01</span>
                <div class="ud_btn">
                    <a th:href="@{'/admin/notificationBoard/' + ${dto.notificationId}}">수정</a>
                    <a th:href="@{'/admin/notificationBoard/delete/' + ${dto.notificationId}}">삭제</a>
                </div>

            </div>
        </div>
    </form>

</div>
</body>
</html>