<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}"/>
</head>

<body>
<div layout:fragment="content">
<div class="mypage_container">
    <h1 class="title">마이페이지</h1>
        <div class="info_wrapper">
            <div class="my_info_wrapper">
                <span class="sub_title">나의 정보</span>
                <div class="my_info">
                    <p class="text_css">이름</p>
                    <span class="text_data">홍길동</span>
                </div>
                <div class="my_info">
                    <p class="text_css">e-mail</p>
                    <span class="text_data">aaa@naver.com</span>
                </div>
                <div class="my_info">
                    <p class="text_css">가입일</p>
                    <span class="text_data">2023.01.01</span>
                </div>
            </div>
            <div class="info_update">
                <span class="sub_title">정보 수정</span>
                <form action="#" method="post" class="update_form">
                    <!-- 변경할 비밀번호와 비밀번호 확인은 JS에서 비교 후 전송 -->
                    <div class="update_form_input">
                        <div class="text_css">현재 비밀번호</div>
                        <input type="password" id="current_pw" name="current_pw"/>
                    </div>
                    <div class="update_form_input">
                        <div class="text_css">비밀번호 변경</div>
                        <input type="password" id="update_pw" name="update_pw"/>
                    </div>
                    <div class="update_form_input">
                        <div class="text_css">비밀번호 확인</div>
                        <input type="password" id="update_pw_confirm"/>
                    </div>
                    <div class="update_form_input">
                        <div class="text_css">이메일</div>
                        <input type="email" id="update_email"/>
                    </div>
                    <button type="button" onclick="update_form_submit()">수정하기</button>
                </form>
            </div>
        </div>
        <div class="my_review">
            <div class="classification_head">
                <span class="review_number">순번</span>
                <span class="review_title">제목</span>
                <span class="review_day">작성일</span>
            </div>
            <div class="classification_data">
                <span class="review_number">1</span>
                <a href="#" class="review_title">리뷰 제목입니다.</a>
                <span class="review_day">2023.01.01</span>
            </div>
            <div class="classification_data">
                <span class="review_number">2</span>
                <a href="#" class="review_title">리뷰 제목이에요</a>
                <span class="review_day">2023.01.02</span>
            </div>
            <button class="btn" onclick="new_data()">목록 추가</button>
        </div>
    </div>
</div>
</body>
</html>