<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/createAccount.css}"/>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body id="top">
<div th:fragment="header">
    <div class="header_top">
        <div class="header_login_wrapper" >

            <button class="header_login">
                <img th:src="@{/images/free-icon-menu-1828859.png}" class="menu_icon">
                <img th:src="@{/images/free-icon-profile-4675250.png}" class="profile_icon">
                <ul class="login_box">
                    <a href="/members/login" id="goto_login" sec:authorize="isAnonymous()">로그인</a>
                    <a href="/members/new" id="goto_join" sec:authorize="isAnonymous()">회원가입</a>
                    <a href="/members/logout" id="goto_logout" sec:authorize="isAuthenticated()">로그아웃</a>
                    <a href="/admin/notificationBoard/new" sec:authorize="hasRole('ADMIN')">공지사항 작성</a>
<!--                    <a href="/admin/notificationBoard/new" sec:authorize="hasRole('ADMIN')">게시글 작성</a>-->
<!--                    <a href="/admin/notificationBoard/new" sec:authorize="hasRole('USER')">게시글 작성</a>-->
                    <a href="/members/mypage" id="goto_mypage" sec:authorize="isAuthenticated()">마이페이지</a>

                </ul>
            </button>
        </div>

        <a href="/"><h1 class="header_title">REVIEW LOG</h1></a>

        <div class="header_search_wrapper">
            <button class="header_search">
                <img th:src="@{/images/free-icon-menu-1828859.png}" class="menu_icon">
                <div class="search_icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="search_box">
                    <form action="#" method="get" class="search_box_form">
                        <label class="search_flex" for="category"><span>카테고리</span>
                            <select name="category" id="category">
                                <option value="all" selected>전체</option>
                                <option value="#">강서구</option>
                                <option value="#">동래 + 사상구</option>
                                <option value="#">북구 + 금정구</option>
                                <option value="#">기장군</option>
                                <option value="#">부산진구</option>
                                <option value="#">사하구 + 영도구 + 남구</option>
                                <option value="#">광안리</option>
                                <option value="#">해운대구</option>
                                <option value="news">공지사항</option>
                            </select>
                        </label>
                        <label class="search_flex" for="search"><span>검색어</span>
                            <input type="text" id="search">
                        </label>
                        <input type="submit" value="검색하기" class="submit">
                    </form>
                </div>
                <div class="square"></div>
            </button>
        </div>
    </div>
    <div class="header_container">


        <div class="header_bottom">
            <ul class="header_category">
                <a href="#">
                    <li class="category"><img th:src="@{/images/강서구.png}"><span>강서구</span></li>
                </a>
                <a href="#">
                    <li class="category"><img th:src="@{/images/사상구_동래구.png}"><span>동래 + 사상구</span></li>
                </a>
                <a href="#">
                    <li class="category"><img th:src="@{/images/금정구_북구.png}"><span>북구 + 금정구</span></li>
                </a>
                <a href="#">
                    <li class="category"><img th:src="@{/images/기장군.png}"><span>기장군</span></li>
                </a>
                <a href="#">
                    <li class="category"><img th:src="@{/images/진구.png}"><span>부산진구</span></li>
                </a>
                <a href="#">
                    <li class="category"><img th:src="@{/images/사하구_영도구_남구.png}"><span>사하구/영도구/남구</span></li>
                </a>
                <a href="#">
                    <li class="category"><img th:src="@{/images/광안리.png}"><span>광안리</span></li>
                </a>
                <a href="#">
                    <li class="category"><img th:src="@{/images/해운대구.png}"><span>해운대구</span></li>
                </a>
            </ul>
        </div>
    </div>
    <a href="#top" class="top">TOP</a>
</div>
</body>
</html>