* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
.board_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 30px auto auto;
}
.board_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 231, 231);
    width: 90%;
    padding: 2%;
    position: relative;
    border-radius: 20px;
}
.notice_content {
    width: 90%;
    padding: 2%;
}
.title{
    font-weight: bold;
    font-size: 25px;
    padding: 15px 0;
    padding-top: 0;
}
.user{
    font-weight: bold;
    font-size: 15px;
    margin: auto 0 0 0;
}
.created_date{

}
.like{
    position: absolute;
    right: 30px;
    top: 20px;
}
.like::before {
    content: '♡ ︎';
    color: red;
}
.pushedLike.like::before {
    content: '♥ ︎';
    color: red;
}
.comment{
    word-break:break-all;
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;

}
.user_info{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.info{
    padding-left: 10px;
    width: 100%;
}
.profile{
    border: 2px solid black;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 33px;
    border-radius: 50%;
}
.info_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.user_name{
    font-weight: bold;
}
.comment_date{
    font-weight: bold;
}