@font-face {
  font-family: abster;
  src: url(font/abster-webfont.woff) format('woff');
}

* { box-sizing: border-box; padding: 0; margin: 0; }
a {
  text-decoration: none;
  color: black;
}

/* 헤더 CSS */
.header_container { display: flex; flex-direction: column; align-items: start; width: 100%;}

.header_top { position:fixed; background-color: #fff; display: flex; flex-direction: row; justify-content: space-between; align-items: center; height: 80px; width: 100%; padding: 0 7%; box-shadow: 1px 1px 3px 0px rgb(255, 200, 200); top: 0; left: 0; z-index: 100;}

.header_top .header_login_wrapper { width: 30%;}
.header_top .header_login_wrapper .header_login { display: flex; width: 70px; height: 45px; flex-direction: row; align-items: center; justify-content: center; border: 1px solid rgb(255, 200, 200); border-radius: 30% 30% / 50% 50%; cursor: pointer; position: relative; background-color: #fff;}
.header_top .header_login_wrapper .header_login .profile_icon { width: 25px; height: 25px; margin: 0 5px;}
.header_top .header_login_wrapper .header_login .menu_icon { width: 15px; height: 15px; margin: 0 5px;}
.header_top .header_login_wrapper .header_login .login_box { position: absolute; background-color: #fff; width: 200px; left:-65px; top: 55px; display: flex; flex-direction: column; justify-content: space-between; padding: 12px; cursor:default; border-radius: 10px; box-shadow: 1px 1px 1px 0px rgb(255, 200, 200), -1px -1px 1px 0px rgb(255, 200, 200); z-index: 2; visibility: hidden;}
.header_top .header_login_wrapper .header_login .login_box a{margin-bottom: 12px;}
.header_top .header_login_wrapper .header_login .login_box a:last-child{margin-bottom: 0;}
.header_top .header_login_wrapper .header_login .square { width: 15px; height: 15px; position: absolute; background-color: rgb(250, 70, 70); transform: rotate(45deg); top: 50px; z-index: 1; visibility: hidden;}
.header_top .header_login_wrapper .header_login a { display: block; width: 100%; height: 30px; text-decoration: none; border: 1px solid rgb(250, 70, 70); text-align: center; line-height: 30px; font-weight: bold; color: rgb(250, 70, 70); border-radius: 10px;}
.header_top .header_login_wrapper .header_login a:hover { color: #fff; background-color:  rgb(250, 70, 70);}
.header_top .header_login_wrapper .header_login:focus .login_box, .header_top .header_login_wrapper .header_login:focus .square{ visibility: visible; }
.header_top .header_login_wrapper .header_login .login_box:hover{ visibility: visible; }


.header_top .header_title { cursor: pointer; font-size: 20px; color: rgb(250, 70, 70); font-family: abster; padding: 12px; border-radius: 3px; text-align: center; width: 100%; }


.header_top .header_search_wrapper { width: 30%; display: flex; justify-content: end;}
.header_top .header_search_wrapper .header_search{ position: relative; display: flex; width: 70px; height: 45px; flex-direction: row; align-items: center; justify-content: center; border: 1px solid rgb(255, 200, 200); border-radius: 30% 30% / 50% 50%; cursor: pointer; background-color: #fff;}
.header_top .header_search_wrapper .header_search:focus .square,.header_top .header_search_wrapper .header_search:focus .search_box {visibility: visible;}
.header_top .header_search_wrapper .header_search .menu_icon { width: 15px; height: 15px; margin: 0 5px;}
.header_top .header_search_wrapper .header_search .search_icon { display: flex; justify-content: center; align-items: center; border-radius: 50%; width: 25px; height: 25px; color: #fff; background-color: rgba(250, 70, 70, 0.9); margin: 0 5px;}
.fa-solid {
  color: white;
}
.header_top .header_search_wrapper .header_search .search_box {position:absolute; top: 55px; left: -150px; width: 300px; box-shadow: 1px 1px 1px 0px rgb(255, 200, 200), -1px -1px 1px 0px rgb(255, 200, 200); background-color: #fff; z-index: 2; visibility: hidden;}
.header_top .header_search_wrapper .header_search .search_box .search_box_form{display: flex; flex-direction: column; align-items: center; padding: 20px 30px; cursor: default;}
.search_box_form label { cursor: pointer; }
.search_flex { display: flex; width: 100%; justify-content: space-between; padding: 10px 0; margin: 10px;}
.search_flex select { flex: 2; height: 30px; }
.search_flex input[type=text] { flex: 2; height: 30px; padding: 0 10px;}
.search_flex span { flex: 1; height: 30px; line-height: 30px; font-weight: bold;}
.search_box_form input[type=submit] { height: 30px; width: 50%; margin: 10px 0; background-color: rgb(250, 77, 77); color: #fff; font-weight: bold; border: none;}
.search_box_form input[type=submit]:active { background-color: rgb(250, 50, 50);}
.header_top .header_search_wrapper .header_search .square { width: 15px; height: 15px; position: absolute; background-color: rgb(250, 70, 70); transform: rotate(45deg); top: 47px; z-index: 1; visibility: hidden;}
.header_top .header_search_wrapper .header_search .search_box:hover {visibility: visible;}
.header_top .header_search_wrapper .header_search .search_box:hover + .square{visibility: visible;}

.header_bottom {width: 100%; display: flex; justify-content: center; border-bottom: 1px solid rgb(255, 200, 200); margin: 80px 0 0 0;}
.header_bottom .header_category { list-style: none; display: flex; width: 100vw; flex-direction: row; justify-content: center; padding: 20px;}
.header_bottom .header_category .category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  cursor: pointer;
  /* background-color: #fff; */
  width: 120px;
  color: #717171;
  border-radius: 10px;
  white-space: nowrap;
  margin: 0 10px;
  height: 120px;
}
.header_bottom .header_category .category span {
  font-weight: bold;
  border: 1px solid #717171;
  margin: 0 5%;
  border-radius: 10px;
  padding: 7px 12px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}
.header_bottom .header_category .category img{
  width: 70px;
  opacity: 1;
  transition: 0.3s;
}
.header_bottom .header_category li:hover span{
  color: rgb(250, 70, 70);
  border: 1px solid rgb(250, 70, 70);
  background-color: #fff;
}
.header_bottom .header_category li:hover img {
  width: 100px;
  opacity: 1;
}
.top{
  color: rgb(250, 70, 70);
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border: 2px solid rgb(250, 70, 70);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}