* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - 60px);
    margin: 30px;
    padding: 20px;
    box-shadow: 0 0 2px 0 rgb(250, 100, 100);
    z-index: 1;
    border-radius: 10px;
}
.main_title {
    padding: 10px 5%;
}
.flex{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5%;
}
.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(20% - 20px);
    margin: 10px;
    border: 1px solid black;
    margin-bottom: 50px;
    width: 250px;
    height: 340px;
    border-radius: 15px;
    overflow: hidden;
}
.thumbnail {
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.board_info{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: relative;
}
.user{
    
}
.title{
    font-weight: bold;

}
.info_date_join {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
;
}
.created_date, .joinNum{
    margin-bottom: 2px;
}
.like {
    position: absolute;
    top: 10px;
    right: 10px;
}
.like::before {
    content: '♥ ︎';
    color: red;
}

.flex_sm { width:50%; height:500px; margin-top:-60px; }
.flex_sm .best_board_popular_sm { display:flex; }
.thumbnail_popular {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.thumbnail_new {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.review_popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    border: 1px solid black;
    margin-bottom: 50px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
}
.review_popular_sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    border: 1px solid black;
    height: 240px;
    border-radius: 15px;
    overflow: hidden;
}
.review_popular a {
    width:100%;
}
.review_new {
    flex: 0 0 calc(100% - 20px);
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
}
.review_new a {
    display: flex;

}

