* {
    margin: 0;
    text-decoration: none;
    color: #000;
}
.new_board {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.head_title {
    padding-bottom: 20px;
}
.form_wrapper{
    width: 60%;
    box-shadow: 0 0 2px 0 rgb(250, 120, 120);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.form_data{
    text-align: center;
}
.form_data.content input{
    height: 200px;
    word-break:break-all;
}
.form_data input {
    width: 600px;
    height: auto;
    padding: 5px;
    margin: 10px;
}
.form_data.image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgb(250, 120, 120);
    border-radius: 10px;
}
.form_data.image input {
    width: 40%;
    margin: 0;
}