<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout.html}">

<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            $("#addReview").on("click", function() {
                var $bestBoard = $(".best_board.flex");
                var $newReview = $('<div class="review"> \
            <img src="/images/고양이3 (2).jpg" class="thumbnail" /> \
            <div class="board_info"> \
                <div class="user">작성자</div> \
                <div class="title">제목입니다</div> \
                <div class="created_date">2023.01.01</div> \
                <div class="like">10000</div> \
            </div> \
        </div>');

                $bestBoard.append($newReview);
            });
        });
    </script>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</th:block>
<div layout:fragment="content">
<body>
    <div class="main_container">
        <h3 class="main_title">인기글</h3>
        <div class="best_board flex">
            <div class="review">
                <img src="/images/고양이3 (2).jpg" class="thumbnail" />
                <div class="board_info">
                    <div class="user">작성자</div>
                    <div class="title">제목입니다</div>
                    <div class="created_date">2023.01.01</div>
                    <div class="like">10000</div>
                </div>
            </div>
            <button id="addReview">요소 추가 테스트</button>
        </div>

        <h3 class="main_title">최신글</h3>
        <div class="board flex">

        </div>
    </div>
    
</body>
</html>